body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: green;
  border-radius: 0;
  border: 0;
}

h2 {
  color: black;
}

p {
  color: black;
 padding-bottom: 10px;

}

.center {

  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: .75;
}


#nav-list {
  margin-top: 10px;

}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -55px;
   float: right;
}
/* END HEADER */



#menu-tile, #specials-tile, #map-tile {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: grey;
  padding: 8px;
}


/* END HOME PAGE */




/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    height: auto;
  }

  #header-nav {
  background-color: green;
  border-radius: 0;
  height: 80px;


}


#nav-list li {

 display: none;

}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  

  /* Home Page */
  .container .jumbotron {
    height: auto;
  }

  #header-nav {
  background-color: green;
  border-radius: 0;
  height: 80px;


}


#nav-list li {

 display: none;

}
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
  
    height: auto;



  }

  #header-nav {
  background-color: green;
  border-radius: 0;
  height: 80px;


}


#nav-list li {

 display: none;

}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;

  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;



  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    
      
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
        }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
    background-color: grey;
  }

  }


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



